.navbar-header {
  display: block;
}

nav > div {
  background-color: #55aa55;
}
nav > div .container {
  background-color: #55aa55;
}

.nav {
  background-color: #407f7f;
  margin-left: -15px;
  padding-left: 15px;
}
.nav > li > a {
  color: #003333;
}
.nav > li > a:hover {
  background-color: #003333;
  color: #669999;
}
.nav > li.active {
  background-color: #0d4d4d;
}
.nav > li.active > a {
  color: #669999;
}

body {
  background-color: lightgray;
}

.container {
  background-color: white;
}

.section {
  padding-top: 160px;
  margin-bottom: -160px;
}
.section h1 {
  padding-bottom: 10px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .section {
    padding-top: 140px;
    padding-bottom: -142px;
  }

  footer {
    padding-top: 160px;
  }
}