.navbar-header {
  display: block;
}

nav > div {
  background-color: #88cc88;
}
nav > div .container {
  background-color: #88cc88;
}

.nav {
  background-color: #669999;
  width: 100%;
  padding-left: 90px;
  margin-left: -30px;
  margin-right: -60px;
}
.nav > li > a {
  color: #003333;
}
.nav > li > a:hover {
  background-color: #003333;
  color: #669999;
}
.nav > li.active {
  background-color: #0d4d4d;
}
.nav > li.active > a {
  color: #669999;
}

body {
  background-color: lightgray;
}

.container {
  background-color: white;
}

.section {
  padding-top: 160px;
  margin-bottom: -160px;
}
.section h1 {
  padding-bottom: 10px;
}

.bottom-section {
  padding-top: 160px;
  margin-right: 15px;
  margin-left: 15px;
}
.bottom-section h1 {
  padding-bottom: 10px;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #ffd1aa;
  color: #552700;
}

@media (max-width: 768px) {
  .section {
    padding-top: 140px;
    padding-bottom: -142px;
  }

  .bottom-section {
    padding-top: 140px;
  }

  footer {
    margin-top: 160px;
  }
}